// Override default variables before the import
$body-bg: #f1f1f1;

$border-radius: 0.15rem !default;
$border-radius-lg: 0.2rem !default;
$border-radius-sm: 0.1rem !default;

// Import Bootstrap and its default variables
@import './././node_modules/bootstrap/scss/bootstrap.scss';

.home-landing {
    .img {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: 50%;

        &:before {
            content: '';
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            background: rgba(#000, 0.2);
        }
    }
}

.article-item {
    position: relative;
    overflow: hidden;
    .card-img-top {
        overflow: hidden;
        .img {
            height: 300px;
            width: 100%;
            background-position: 50%;
            background-size: cover;
        }
    }
    .link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(#000, 0.1);
        opacity: 0;
    }

    &:hover {
        .link {
            opacity: 1;
        }
    }
}
